<% include head %>

<header id="main-navigation">
  <div class="container navbar">
    <div class="left">
      <a id="logo" href="/"><h1>ADV<span class="lime-text">ENTR.</span></h1></a>
      <form action="" class="search" method="get">
        <input id="search" type="text" placeholder="Search...">
        <button class="search-btn"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/activity" >Activity</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </nav>
    <div class="profile">
      <ul >
        <li class="user-nav">Hello <a href="#" style="display: inline-block;"><%= currentUser.firstName %></a></li>
      </ul>
      <a href="#"><img class="avatar" src="<%= currentUser.profileImage %> " alt="avatar"></a>
      <a id="dropdown" class="logout"><i class="fas fa-ellipsis-v"></i></a>
    </div>
  </div>
</header>

<div id="menu" class="dropdown">
  <ul>
    <li><a href="#">My Friends</a></li>
    <li><a href="/user">My Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
