<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans+Condensed:400,400i|IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="./stylesheets/css/styles.css">
  <title>Forum Name - A forum about something</title>
</head>
<body>

<header id="main-navigation">
  <div class="container navbar">
    <div class="left">
      <h1>ADV<span class="lime-text">ENTR.</span></h1>
      <form action="" class="search" method="get">
        <input id="search" type="text" placeholder="Search...">
        <button class="search-btn"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/activity" >Activity</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </nav>
    <div class="profile">
      <ul >
        <li class="user-nav">Hello <a href="#" style="display: inline-block;">Benjamin</a></li>
      </ul>
      <a href="#"><img class="avatar" src="/img/avatar.png" alt="avatar"></a>
    </div>
  </div>
</header>
