<% include head %>

<header id="main-navigation">
  <div class="container navbar">
    <div class="left">
      <h1>ADV<span class="lime-text">ENTR.</span></h1>
      <form action="" class="search" method="get">
        <input id="search" type="text" placeholder="Search...">
        <button class="search-btn"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/activity" >Activity</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </nav>
    <div class="profile">
      <ul >
        <li class="user-nav">Hello <a href="#" style="display: inline-block;"><%= currentUser.username %></a></li>
      </ul>
      <a href="#"><img class="avatar" src="/img/avatar.png" alt="avatar"></a>
      <a href="/logout" class="logout"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</header>
