<% include partials/header %>

<div class="container">
  <div class="home-container">
    <div class="sidebar">
      <div id="sidebar-profile" class="module">

        <div class="account">
          <img src="img/avatar.png" alt="avatar">
          <p>Benjamin Buck</p>
          <small class="tag">@benjaminalan</small>
        </div>
      </div>

      <div class="profile module">

      </div>
    </div>
    <div class="feed" id="feed">
      <div class="module">
        <div class="content-padding newContent">
          <h2>Create a new post</h2>
          <form action="">
            <textarea name="name" id="newPost" rows="4" cols="80" placeholder="Write a new post"></textarea>
            <button class="btn">Create</button>
          </form>
        </div>
      </div>

      <div class="module">
        <div class="content-padding recent-posts">
          <div class="single-post">
            <a href="#">
              <div class="userinfo">
                <img class="avatar" src="/img/avatar.png" alt="avatar">
                <div class="username">
                  <p class="userinfo-username">Benjamin Buck</p>
                  <small class="tag">@benjaminalan</small>
                </div>
              </div>
              <div class="post-body">
                <p>Post body will go here. This is a brand new post about things.</p>
              </div>
              <div class="post-tags">
                <small class="tag post-tag">@benjaminalan</small>
              </div>
            </a>
            <div class="post-interactions">
              <i class="far fa-heart"></i><i class="fas fa-retweet"></i><i class="fas fa-reply"></i>
            </div>

          </div>

          <div class="single-post">
            <div class="userinfo">
              <img class="avatar" src="/img/avatar.png" alt="avatar">
              <div class="username">
                <p class="userinfo-username">Benjamin Buck</p>
                <small class="tag">#benjaminalan</small>
              </div>
            </div>
            <div class="post-body">
              <p>Post body will go here. This is a brand new post about things.</p>
            </div>
            <div class="post-tags">
              <a href="#"><small class="tag post-tag">#benjaminalan</small></a>
              <a href="#"><small class="tag post-tag">#new</small></a>
            </div>
            <div class="post-interactions">
              <i class="far fa-heart"></i><i class="fas fa-retweet"></i><i class="fas fa-reply"></i>
            </div>
          </div>

          <div class="single-post">
            <div class="userinfo">
              <img class="avatar" src="/img/avatar.png" alt="avatar">
              <div class="username">
                <p class="userinfo-username">Benjamin Buck</p>
                <small class="tag">@benjaminalan</small>
              </div>
            </div>
            <div class="post-body">
              <p>Post body will go here. This is a brand new post about things.</p>
            </div>
            <div class="post-tags">
              <small class="tag post-tag">@benjaminalan</small>
            </div>
            <div class="post-interactions">
              <i class="far fa-heart"></i><i class="fas fa-retweet"></i><i class="fas fa-reply"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="profile module">

      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
