* {
  padding: 0;
  margin: 0;
  z-index: 0;
}

body {
  background-color: white;
}

.white {
  color: white;
}

.page-container {
  background-image: url("/img/background-login1.png");
  background-position: center;
  width: 100%;
  height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
}

.login-header {
  max-width: 1400px;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-header #logo {
  color: #0ed9a0;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  text-shadow: 0px 4px 13px rgba(14, 217, 160, 0.2);
}

.login-header #tagline {
  color: #fff;
}

.login-header nav ul {
  list-style: none;
}

.login-header nav li {
  display: inline-block;
  margin-left: 40px;
}

.login-header nav a {
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.login-header nav a:hover {
  color: #0ed9a0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60vh;
}

.login {
  background-color: rgba(0, 0, 0, 0.6);
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  border-radius: 6px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.login h2 {
  padding: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login form input,
.login .submit {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.login form input:focus {
  outline: 2px solid #0ed9a0;
}

.login .submit {
  background-color: #0ed9a0;
  font-weight: bold;
  -webkit-box-shadow: 0px 5px 23px -2px rgba(15, 219, 161, 0.3);
  box-shadow: 0px 5px 23px -2px rgba(15, 219, 161, 0.3);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.login .submit:hover {
  -webkit-box-shadow: 0px 5px 23px -2px rgba(15, 219, 161, 0.7);
  box-shadow: 0px 5px 23px -2px rgba(15, 219, 161, 0.7);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.login .no-account {
  text-align: left;
  width: 90%;
  margin: 0 auto 15px;
}

.login .signup a {
  color: #0ed9a0;
  text-decoration: none;
}

.login .signup a:hover {
  color: #0da57a;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .login-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .login {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0 2%;
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

#logo {
  color: white;
  text-decoration: none;
}

.hide {
  display: block !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.lime-text {
  color: #0ed9a0;
}

#main-navigation {
  background-color: #00171c;
  height: 60px;
  width: 100%;
  color: white;
}

#main-navigation .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
}

#main-navigation .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main-navigation form,
#main-navigation h1 {
  display: inline-block;
}

#main-navigation form {
  margin-left: 50px;
}

#main-navigation #search {
  padding: 8px 10px;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: white;
}

#main-navigation .search-btn {
  padding: 8px 10px;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  position: relative;
  left: -10px;
  top: 0px;
  background-color: #0ed9a0;
  border: none;
  color: white;
  font-size: 17px;
}

#main-navigation .search-btn:hover {
  background-color: #0da57a;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#main-navigation ul {
  list-style: none;
}

#main-navigation ul li {
  display: inline-block;
}

#main-navigation ul li a {
  color: white;
  text-decoration: none;
}

#main-navigation nav {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

#main-navigation nav ul li a {
  margin: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}

#main-navigation nav ul li .active {
  border-bottom: 4px solid #0ed9a0;
}

#main-navigation .user-nav {
  margin: 20px;
}

#main-navigation .profile a,
#main-navigation .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main-navigation .avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100%;
}

#main-navigation .logout i {
  color: white;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  left: 86rem;
  top: 60px;
  z-index: 1;
  display: none;
}

.dropdown li {
  background-color: #00171c;
  padding: 10px 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown li a {
  color: white;
  text-decoration: none;
}

.dropdown li:hover {
  cursor: pointer;
  background-color: #0da57a;
}

.dropdown ul {
  list-style: none;
}

body {
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-fifty {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.btn {
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  background-color: #0ed9a0;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.addImage {
  padding: 5px 10px;
  background-color: #00171c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.addImage:hover {
  background-color: #0da57a;
  cursor: pointer;
}

.content-padding {
  padding: 10px 30px;
}

textarea {
  resize: none;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0;
}

.home-container .sidebar {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.home-container .feed {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  margin: 0 10px;
}

.module {
  margin: 0 0 10px 0;
  background-color: white;
  border-radius: 10px;
}

.tag {
  font-size: 12px;
  color: gray;
}

.sidebar .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0;
}

.sidebar img {
  height: 80px;
  width: 80px;
  overflow: hidden;
  text-align: center;
  border-radius: 100%;
}

.sidebar .profile-bio {
  padding: 20px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.sidebar .profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 10px 0 0;
}

.sidebar .followers {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar .followers,
.sidebar .posts {
  width: 50%;
  padding: 10px 0;
}

.sidebar .sidebar-button {
  padding: 20px 0;
  width: 100%;
  background-color: #0ed9a0;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.sidebar .sidebar-button:hover {
  background-color: #0da57a;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.sidebar .sidebar-button {
  background-color: #00171c;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .recommended-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
}

.sidebar .title {
  padding: 20px 0;
  text-align: center;
}

.sidebar .follow {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #0ed9a0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
}

.sidebar .follow:hover {
  background-color: #0da57a;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

#feed .new-content-form {
  margin: 20px 0;
}

#feed .btn {
  display: block;
}

#feed .single-post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

#feed .single-post a {
  text-decoration: none;
  color: black;
}

#feed #newPost {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.08);
}

#feed *::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#feed #newPost:focus {
  outline: none;
}

#feed .username {
  margin-left: 10px;
}

#feed .userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#feed .post-body {
  margin: 10px 0;
  padding: 10px 0;
}

#feed .post-tag {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}

#feed .post-interactions {
  margin: 20px 0 10px;
}

#feed .post-interactions i {
  padding-right: 20px;
}

.register-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-split {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.register-left {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/img/background-login1.png");
}

.back-to-login {
  height: 50px;
  width: 100%;
  font-size: 17px;
  padding: 0 40px;
  color: white;
  line-height: 50px;
}

.back-to-login a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#register-side {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#registration-form {
  border: none;
  max-width: 400px;
}

#registration-form h2 {
  margin-bottom: 10px;
}

.registration-input {
  display: block;
}

fieldset {
  border: none;
  margin-bottom: 10px;
}

fieldset label {
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
}

.registration-input {
  padding: 10px;
  font-size: 17px;
  border: none;
  width: 300px;
  border-radius: 5px;
}

.submit {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #0ed9a0;
  font-size: 17px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-sidebar {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 20px;
}

.profile-sidebar .profile-card .image img {
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 20px 0 0;
}

.profile-sidebar .account-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-sidebar .account-buttons .follow,
.profile-sidebar .account-buttons .add {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 20px 0;
  text-align: center;
  background-color: #0ed9a0;
  color: white;
}

.profile-sidebar .account-buttons .follow:hover,
.profile-sidebar .account-buttons .add:hover {
  background-color: #0da57a;
  cursor: pointer;
}

.profile-sidebar .account-info {
  margin: 20px 0;
}

.profile-sidebar .account-info .biography {
  margin: 20px 0 0;
  padding: 0 20px;
}

.profile-sidebar .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile-sidebar .profile-stats {
  padding: 20px 0;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #00171c;
  color: white;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile-sidebar .profile-stats:hover {
  background-color: #0da57a;
}

.profile-feed {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  margin-top: 20px;
}

.profile-feed h4 {
  z-index: 1;
}

.profile-feed img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
}

.profile-feed .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.profile-feed .tabs ul li {
  padding: 10px 20px;
  text-align: center;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.profile-feed .tabs ul li:hover {
  background-color: #00171c;
  color: white;
}
