body {
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.flex-fifty {
  flex-basis: 50%;
}

.avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.btn {
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  background-color: $lime;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.content-padding {
  padding: 10px 30px;
}

textarea {
  resize: none;
}

// Layout
.home-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  .sidebar {
    flex-basis: 20%;
  }
  .feed {
    flex-basis: 60%;
    margin: 0 10px;
  }
}

.module {
  margin: 0 0 10px 0;
  background-color: white;
  border-radius: 10px;
}

.tag {
  font-size: 12px;
  color: gray;
}

.sidebar {
  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 0;
  }
  img {
    height: 80px;
    width: 80px;
    overflow: hidden;
    text-align: center;
    border-radius: 100%;
  }

  .profile-bio {
    padding: 20px 0;
    font-size: 15px;
    color: rgba(0,0,0,0.5);
  }

  .profile-stats {
    display: flex;
    width: 100%;
    background-color: rgba(0,0,0,0.08);
    margin: 10px 0 0;
  }

  .followers {
    border-right: 1px solid rgba(0,0,0,0.2);
  }

  .followers,
  .posts {
    width: 50%;
    padding: 10px 0;
  }

  .sidebar-button {
    height: 50px;
    width: 100%;
    background-color: $lime;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 15px;
  }
  .sidebar-button:hover {
    background-color: $hover;
    transition: 0.2s;
    cursor: pointer;
  }

  // Edit Profile Button
  .sidebar-button {
    background-color: $navy;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

}


#feed {
  .btn {
    display: block;
  }

  .single-post {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 20px 0;
    a {
      text-decoration: none;
      color: black;
    }
  }

  #newPost {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 17px;
    margin: 10px 0;
    background-color: rgba(0,0,0,0.08);
  }

  *::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
  }

  #newPost:focus {
    outline: none;
  }

  .username {
    margin-left: 10px;

  }

  .userinfo {
    display: flex;
    align-items: center;
  }

  .post-body {
    margin: 10px 0;
    padding: 10px 0;
  }

  .post-tag {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 5px;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
  }

  .post-interactions {
    margin: 20px 0 10px;
    i {
      padding-right: 20px;
    }
  }
}
